/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$black: #161616;
$grey: #747474;

html {
	height: 100%;
}
li {
	list-style: none;
}
li img {
	max-height: 40px;
}

body {
	font-family: 'Press Start 2P', cursive;
	background: $black;
	color: $grey;
	font-size: 12px;
	height: 100%;
	padding-right: 10px;
}

header {
	display: flex;
	img {
		z-index: 1;
	}
	div {
		background: url(/assets/pokedex-header-nav.png);
		width: 100%;
		height: 46px;
		margin-right: -10px;
	}

}

div.root {
	display: flex;
}

.main-content {
	position: fixed;
	left: 200px;
	background-color: none;
	top: 176px;
	width: 90%;

}
.poke-index {
	overflow: hidden;
	overflow-y: scroll;
	height: 900px;
}
.pokemon-form {
	display: flex;
	flex-direction: column;
	// background-image: url(http://assets.pokemon.com/assets/cms2/img/watch-pokemon-tv/seasons/season19/season19_ep11_ss01.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 50px;
	padding: 60px;
	// border: double black 5px;
	// border-radius: 5px;
}

	video{
	position: fixed;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 overflow: hidden;
	 z-index: -100;
	 width: 100%;
	 min-height: 1000px;

	}

.pokemon-form h1 {
	color: white;
	border-radius: 5px;
	text-shadow: -4px -4px black;
}

.pokemon-form * {
	padding: 5px;
}

marquee {
	color: lightblue;
}

h1.Senora{
	color: white;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ff0022;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



@media (max-width: 900px) {
	.main-content {
		position: relative;
		display: block;
		top: 10px
	}
	marquee {
		max-width: 300px;
	}


}
